:root {
  --blue: #2660a3;
  --blue-300: rgba(110, 148, 193, 1);
  --blue-100: #bccee2;
  --blue-50: rgba(233, 239, 246, 1);
  --dark-blue: #012247;
  --blue-600: rgba(35, 87, 148, 1);
  --ligt-blue: #b8b0fd;
  --active-blue: #1800e1;
  --light-green: #13ffc6;
  --green: #73b95b;
  --green-900: #304e26;
  // --green: #254e31;
  --t-green: #254e31b3;
  --yellow: #f7eb60;
  --light-yellow: #faf5b7;
  --pink: #ff87ff;
  --grey: #696868;
  --light-grey: #bdbdbd;
  --v-light-grey: #f5f5f5;

  --close-red: #e20c0c;
  --white: #fff;
  --black: #000;
  --black-50: rgba(0, 0, 0, 0.5);

  --shadow1: 1px 1px 2px 1px #bdbdbd;

  --primary-font: "Anton", sans-serif;
  --secondary-font: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw !important;
  overflow-x: hidden !important;
  font-family: var(--secondary-font);
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 0.5px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 10px;
}

.main {
  margin-top: 160px;
  padding: 0;
  &.TopbarZero {
    margin-top: 100px; /* New position when Topbar is hidden */
  }
}
@media screen and (max-width: 900px) {
  .main {
    margin-top: 130px;
    &.TopbarZero {
      margin-top: 70px;
    }
  }
}

.section {
  padding: 50px 10%;
}

.subsection {
  padding: 0 10% 50px 10%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .left,
  .right {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    .left {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .right {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.photoContent {
  display: flex;
  align-items: center;
  gap: 20px;
  .left,
  .right {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .photoContent {
    background-repeat: no-repeat;
    flex-direction: column;
    .left,
    .right {
      width: 100%;
      background-repeat: no-repeat;
    }
  }
}

.sectionTitle {
  font-size: 2.5em;
  font-family: var(--secondary-font);
  margin-bottom: 30px;
  line-height: 40px;
}
@media screen and (max-width: 900px) {
  .sectionTitle {
    font-size: 1.2em;
    line-height: 30px;
  }
}

.sectionText {
  font-size: 0.8em;
  font-family: var(--secondary-font);
  margin-bottom: 30px;
}

.smallTitle {
  font-size: 2em;
  margin-bottom: 10px;
  line-height: 40px;
}

.smallText {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.largeTitle {
  width: 50%;
  font-family: var(--secondary-font);
  margin-bottom: 60px;
  .text {
    font-size: 1em;
    color: var(grey);
  }
  .title {
    font-size: 3em;
    color: var(--green);
    line-height: 50px;
  }
}

@media screen and (max-width: 900px) {
  .largeTitle {
    width: 80%;
    .title {
      font-size: 1.5em;
      line-height: 35px;
    }
  }
}

.bottomText {
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5);

  span {
    padding: 0 5px;
  }
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

.dashboardcardTitle {
}

//layout
@import url(layout/dashboardLayout.scss);
@import url(layout/gift4meLayout.scss);

//components

//heading styles
@import url(components/headings/topbar.scss);
@import url(components/headings/navbar.scss);

//home component styles
@import url(components/home/subhero.scss);
@import url(components/home/hero.scss);
@import url(components/home/homeSections.scss);

//dashboard
@import url(components/dashboard/dashboardCards.scss);

//gift4me
@import url(components/gift4me/giftSidebar.scss);
@import url(components/gift4me/giftRightbar.scss);

//productCategory
@import url(components/headings/productCategory/prodCatTopbar.scss);
@import url(components/headings/productCategory/prodCatNavbar.scss);

//footer
@import url(components/footer.scss);
@import url(components/dashboard/dashboard.scss);

.prodCatMain {
  margin-top: 125px;
  background-image: url(./components/prodCategory/Rectangle-31.png);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeProd 20s infinite ease-out;

  .heroWrapper {
    background-color: var(--black-50);
    width: 100%;
    height: 100%;
    // padding: 50px 10% 100px 10%;
    padding: 50%;
    font-family: var(--primary-font);
  }
}

@keyframes changeProd {
  0%,
  25% {
    background-image: url(./components/prodCategory/Rectangle-31.png);
  }
  30%,
  55% {
    background-image: url(./Rectangle_51.png);
  }
  60%,
  85% {
    background-image: url(./Rectangle_74.png);
  }
  90%,
  100% {
    background-image: url(./Rectangle_51.png);
  }
}
