:root {
  --blue: #2660a3;
  --blue-100: rgba(188, 206, 226, 1);
  --blue-50: rgba(233, 239, 246, 1);
  --dark-blue: #012247;
  --ligt-blue: #b8b0fd;
  --active-blue: #1800e1;
  --light-green: #13ffc6;
  --green: rgba(115, 185, 91, 1);
  // --green: #254e31;
  --t-green: rgba(37, 78, 49, 0.7);
  --yellow: #f7eb60;
  --light-yellow: #faf5b7;
  --pink: #ff87ff;
  --grey: #696868;
  --light-grey: #bdbdbd;
  --v-light-grey: #f5f5f5;

  --close-red: #e20c0c;
  --white: #fff;
  --black: #000;
  --black-50: rgba(0, 0, 0, 0.5);

  --shadow1: 1px 1px 2px 1px #bdbdbd;

  --primary-font: "Anton", sans-serif;
  --secondary-font: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw !important;
  overflow-x: hidden !important;
  font-family: var(--secondary-font);
  background-color: var(--white);
}

.main {
  margin-top: 160px;
  padding: 0;
  &.TopbarZero {
    margin-top: 100px; /* New position when Topbar is hidden */
  }
}
@media screen and (max-width: 900px) {
  .main {
    margin-top: 130px;
    &.TopbarZero {
      margin-top: 70px;
    }
  }
}

.section {
  padding: 50px 10%;
}

.subsection {
  padding: 0 10% 50px 10%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .left,
  .right {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    .left {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .right {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.photoContent {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  .left,
  .right {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .photoContent {
    background-repeat: no-repeat;
    flex-direction: column;
    .left,
    .right {
      width: 100%;
      background-repeat: no-repeat;
    }
  }
}

.sectionTitle {
  font-size: 2.5em;
  font-family: var(--secondary-font);
  margin-bottom: 30px;
  line-height: 40px;
}
@media screen and (max-width: 900px) {
  .sectionTitle {
    font-size: 1.2em;
    line-height: 30px;
  }
}

.sectionText {
  font-size: 0.8em;
  font-family: var(--secondary-font);
  margin-bottom: 30px;
}

.smallTitle {
  font-size: 2em;
  margin-bottom: 10px;
  line-height: 40px;
}

.smallText {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.largeTitle {
  width: 50%;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
  .text {
    font-size: 1em;
    color: var(grey);
  }
  .title {
    font-size: 3em;
    color: var(--green);
    line-height: 50px;
  }
}

@media screen and (max-width: 900px) {
  .largeTitle {
    width: 80%;
    .title {
      font-size: 1.5em;
      line-height: 35px;
    }
  }
}

.bottomText {
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5);

  span {
    padding: 0 5px;
  }
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

//components

//heading styles
@import url(components/headings/topbar.scss);
@import url(components/headings/navbar.scss);

//home component styles
@import url(components/home/subhero.scss);
@import url(components/home/hero.scss);

.sectionOne {
  .content {
    .sectionTitle {
      color: var(--dark-blue);
    }

    .sectionText {
      color: var(--grey);
    }

    .btn {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.sectionTwo {
  .content {
    .sectionTitle {
      color: var(--black);
    }

    .sectionText {
      color: var(--grey);
    }

    .btn {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.slider {
  height: 300px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--v-light-grey);
  overflow-x: hidden;

  .slideTrack {
    display: flex;
    gap: 20px;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;

    .slide {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 4px;
      background-color: var(--white);
      flex-direction: column;
      gap: 10px;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(calc(-250px * 9));
  }
}

.sectionFour {
  .photoContent {
    .left {
      background-image: url(./Rectangle_51.png);
      object-fit: cover;
      height: 574px;
      border-radius: 10px;
      display: flex;
      align-items: last baseline;
      color: var(--white);
      overflow: hidden;
    }
    .right {
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 20px;

      .top {
        background-image: url(./Rectangle_74.png);
        height: 277px;
        border-radius: 10px;
        display: flex;
        align-items: last baseline;
        color: var(--white);
        overflow: hidden;
      }
      .bottom {
        height: 277px;
        background-image: url(./Rectangle_53.png);
        border-radius: 10px;
        display: flex;
        align-items: last baseline;
        color: var(--white);
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .sectionFour {
    .photoContent {
      .right,
      .left {
        width: 75%;
      }
    }
  }
}

.sectionFive {
  background-color: var(--v-light-grey);
  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    .box {
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      font-weight: bold;

      .images {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        img {
          width: calc(50% - 5px);
          height: 100%;
        }
      }
    }
    .box3 {
      grid-row: span 2;
      .images {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .box4 {
      grid-column: span 2;
      .images {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .sectionFive {
    .box4 {
      grid-column: span 1 !important;
    }
  }
}

@media screen and (max-width: 700px) {
  .sectionFive {
    .box3 {
      grid-row: span 1 !important;
    }
  }
}

.sectionSix {
  background-color: var(--yellow);
  padding-bottom: 50px;
  .section {
    .largeTitle {
      .title {
        color: var(--black-50);
      }
    }
  }
  .grid {
    border-top: 1px solid var(--black-50);
    border-bottom: 1px solid var(--black-50);
    padding: 0 10%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .box {
      border-left: 1px solid var(--black-50);
      border-right: 1px solid var(--black-50);
      padding: 20px 0 0 20px;
      color: var(--black-50);
      display: flex;
      flex-direction: column;
      .top {
        width: 80%;
      }
      img {
        height: 200px;
        align-self: flex-end;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .sectionSix {
    .grid {
      grid-template-columns: repeat(1, 1fr);

      .box2 {
        border-top: 1px solid var(--black-50);
        border-bottom: 1px solid var(--black-50);
      }
    }
  }
}

.sectionSeven {
  .photoContent {
    display: none;
    &.active {
      display: flex;
    }
    .left {
      .rectangle {
        margin: auto;
        position: relative;
        height: 600px;
        width: 200px;
        background-color: var(--v-light-grey);
        .image {
          position: absolute;
          top: 75px;
          left: -85px;
          padding: 10px 10px 40px 10px;
          background-color: var(--blue-50);
          border-radius: 10px;
          width: 365px;

          img {
            height: 365px;
            width: 100%;
          }
          .name {
            margin-top: 10px;
            text-transform: capitalize;
            font-weight: bold;
          }
          .position {
            color: var(--blue);
            font-size: 0.8em;
          }
        }
      }
    }
    .right {
      width: 35%;
      color: var(--grey);
      .pagination {
        display: flex;
        gap: 10px;
        .prev,
        .next {
          padding: 2px 9px;
          border: 1px solid var(--grey);
          cursor: pointer;

          &:hover {
            background-color: var(--blue);
            color: var(--white);
            border: 1px solid var(--blue);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .sectionSeven {
    .photoContent {
      .right {
        width: 100%;
        .pagination {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .sectionSeven {
    .photoContent {
      .left {
        .rectangle {
          margin: auto;
          position: relative;
          height: 600px;
          width: 180px;
          background-color: var(--v-light-grey);
          .image {
            position: absolute;
            top: 75px;
            left: -65px;
            width: 300px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .sectionSeven {
    .photoContent {
      .left {
        .rectangle {
          margin: auto;
          position: relative;
          height: 600px;
          width: 150px;
          background-color: var(--v-light-grey);
          .image {
            position: absolute;
            top: 70px;
            left: -50px;
            width: 250px !important;
            img {
              height: 300px;
            }
          }
        }
      }
    }
  }
}
