.prodCatLayout {
  .prodCatTopbar {
    height: 30px;
    font-size: 0.8em;
    padding: 5px 0;
    text-align: center;
    width: 100vw;
    background-color: var(--blue-300);
    color: var(--white);
  }
}
